<h1>This is Login Page</h1>
<p>Login</p>
<form action="/login" method="post">
    <input type="text" name='username' placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>

<p>If not registered <a href="/register"><i>Click Here</i></a></p>